body {
  
  xfont-family: 'myriad pro', sans-serif;
  xfont-size: 20px;
  padding: 0px;
  margin: 0px;
}


#main {
	max-width: 600px;
	margin: 0 auto;
	padding-top: 70px;
	background-color: white; 

}

.item-edit {
	display: none;
}

paper-button {
	display: none;
}



